main div {
    padding: 15px;
    max-width: 125px;
    margin: 5px;
}

.div-with-bg-img{
    background-image: url('../src/images/img-neymar.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 50px;
    padding-right: 200px;
}

.share-region{
    padding: 50px;
}

.group-list{
    padding: 50px;
}

.padding-50{
    padding: 50px;
}

.img-chuteira{
    size: 100%;
}
.flex-center {
    display: flex;
    justify-content: center;
}